name: Pull Request CI

on:
  pull_request:
    paths-ignore:
      - '*.dapper'
      - '.gitignore'
      - 'CODEOWNERS'
      - 'LICENSE'
      - 'Makefile'

jobs:
  go-validation:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - name: golangci-lint
        uses: golangci/golangci-lint-action@4afd733a84b1f43292c63897423277bb7f4313a9
        with:
          args: --timeout=10m --config=.golangci.json
          version: v2.4.0
      - name: go-format
        run: test -z "$(go fmt ./... | tee /dev/stderr)"

  charts-validation:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - name: validate-charts
        run: ./scripts/validate-charts

  linux-tests:
    needs: [go-validation, charts-validation]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - name: Set Go toolchain
        run: go env -w GOTOOLCHAIN=go1.25.0+auto # https://github.com/golang/go/issues/75031
      - name: test-go
        run: ./scripts/test

  windows-tests:
    needs: [go-validation, charts-validation]
    runs-on: windows-2022
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - name: Set Go toolchain
        run: go env -w GOTOOLCHAIN=go1.25.0+auto # https://github.com/golang/go/issues/75031
      - name: test-go
        run: bash ./scripts/test

  integration-tests:
    needs: [go-validation, charts-validation]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      # required for setup-env command
      # to be resolved in bash scripts
      - name: Install Go
        uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00 # v6.0.0
        with:
          go-version-file: './go.mod'
          cache: 'false'
      - name: Set Go toolchain
        run: go env -w GOTOOLCHAIN=go1.25.0+auto # https://github.com/golang/go/issues/75031
      - name: install setup-env
        run: |
          go install sigs.k8s.io/controller-runtime/tools/setup-envtest@latest
      - name: run integration tests
        env:
          ENVTEST_K8S_VERSION: 1.33.x
        run: bash ./scripts/test-integration

  chart-tests:
    needs: [go-validation, charts-validation]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - name: test-charts
        run: ./scripts/test-charts

  build-all-binaries:
    needs: [linux-tests, windows-tests, chart-tests, integration-tests]
    runs-on: ubuntu-latest
    env:
      CROSS: true
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - name: Build All Binaries
        run: bash ./scripts/build
      - name: Validate CI
        run: bash ./scripts/validate-ci

  build-windows-containers:
    needs: [linux-tests, windows-tests, chart-tests, integration-tests]
    runs-on: windows-2022
    env:
      REPO: ${{ vars.REPO }}
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - name: build-binaries
        run: bash ./scripts/build
      - name: build-containers
        run: bash ./scripts/package
