name: Tag-CI

on:
  push:
    tags:
      - 'v[0-9]*\.[0-9]+[0-9]*\.[0-9]'

jobs:
  go-validation:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v2
        with:
          version: v1.54
      - name: go-format
        run: test -z "$(go fmt ./... | tee /dev/stderr)"

  charts-validation:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - name: validate-charts
        run: ./scripts/validate-charts

  linux-tests:
    needs: [go-validation, charts-validation]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - name: test-go
        run: ./scripts/test

  windows-tests:
    needs: [go-validation, charts-validation]
    runs-on: windows-2022
    steps:
      - uses: actions/checkout@v1
      - name: test-go
        run: bash ./scripts/test

  chart-tests:
    needs: [go-validation, charts-validation]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - name: test-charts
        run: ./scripts/test-charts

  create-release:
    needs: [linux-tests, windows-tests, chart-tests]
    runs-on: ubuntu-latest
    env:
      CROSS: true
    steps:
      - uses: actions/checkout@v1
      - name: Log in to Docker Hub
        uses: docker/login-action@f4ef78c080cd8ba55a85445d5b36e214a81df20a
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      - uses: actions/checkout@v1
      - name: build-all-binaries
        run: bash ./scripts/build
      - name: package-binaries
        run: bash ./scripts/package
      - name: publish-containers
        run: bash ./scripts/publish
      - uses: marvinpinto/action-automatic-releases@d68defdd11f9dcc7f52f35c1b7c236ee7513bcc1
        with:
          repo_token: ${{ github.token }}
          files: |
            ./bin/*
            LICENSE
